{% load widget_tweaks %}
{% load bootstrap %}

<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<meta http-equiv="refresh" content="5; URL=javascript:window.open('file:///root/Escritorio/Proyectos/viapublica/viapublica_app/{{r.imagen}}','_blank');">
	<!-- Titulo del sitio y charset -->
	<title>Via Publica</title>
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="utf-8">

	<!-- Boostrap and custom styles -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">

</head>

{% include 'views/partials/navbar.html' %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  {% for r in reclamos %}
  <table class="table table-hover">
    <td class="warning">
			{{r}}
    <br></br>
		Hacer click en la imagen para clasificar:
		<br></br>
		<a href='{% url 'viapublica_app.views.clasificar' pk=r.pk %}'>
      <img src="/{{r.imagen}}" style="width:256px;height:256px;">
			</a>

    </td>
  </table>

  {% endfor %}
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">

<a href='{% url 'viapublica_app.views.showMap' pk=3 %}'>
 <button type="button">Obstruccion</button>
	</a>
<a href='{% url 'viapublica_app.views.showMap' pk=2 %}'>
  <button type="button">Pozos</button>
	</a>
<a href='{% url 'viapublica_app.views.showMap' pk=1 %}'>
	 <button type="button">Desastre ambiental</button>
	</a>

</div>

</html>
