{% extends 'views/base/base.html' %}
{% load widget_tweaks %}

{% block main %}
  <div class="sign-up-agileinfo" align="center">
    <div class="alert-close"></div>
    <form id="reclamo_alta" method="POST" action="{% url 'reclamo_alta' %} " enctype="multipart/form-data"
      class="form-horizontal" >
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        {{ formulario_reclamo.nombre.errors }}
        <label for="exampleInputEmail1">{{ formulario_reclamo.nombre.id_for_label }}</label>
        {{formulario_reclamo.nombre|add_class:'form-control'}}
      </div>
      <input type="submit" class="save btn btn-default" value="Save"/>
      <div id="map-canvas"></div>
    </form>
  </div>
  <div class="lat">-</div>
  <div class="lng">-</div>
{% endblock %}
